<div class="tab spellbook spellbook-pane" data-group="primary" data-tab="spellbook">

    <ol class="spellcastingEntry-list directory-list item-list">
        {{#each actor.spellcastingEntries as |entry eid|}}
            <li class="item item-container" data-container-type="spellcastingEntry" data-item-id="{{entry._id}}" data-container-id="{{entry._id}}">
                <div class="action-header">
                    {{#if entry.data.prepared.preparedSpells}}
                        <a class="skill-name prepared-toggle" title="{{localize "PF2E.ToggleSpellVisibilityTitle"}}"><i class="fas {{#if entry.data.showUnpreparedSpells.value}}fa-book-open{{else}}fa-book{{/if}}"></i></a>
                    {{/if}}
                    <h3 class="item-name pf-heading pf-actions hide-container-toggle">
                        <input type="text" name="data.items.{{eid}}.name" class="item-name-input" value="{{entry.name}}" data-item-id="{{entry._id}}" data-dtype="String" />
                    </h3>
                    {{#if @root.owner}}
                        <div class="item-controls">
                            <a class="item-control spellcasting-remove" title="{{localize "PF2E.RemoveSpellcastingEntryTitle"}}" data-type="{{eid}}">{{localize "PF2E.DeleteShortLabel"}} <i class="fas fa-trash"></i></a>
                        </div>
                    {{/if}}
                </div>
                {{#unless entry.data.tradition.ritual}}
                    {{#if entry.data.tradition.focus}}
                        <ol class="skills-list focus">
                            <li class="skill-grid">
                                <div class="skill-container focus-points">
                                    <h4 class="skill-name">{{localize "PF2E.Focus.label"}}</h4>
                                    <span class="skill-item pf-small" title="{{localize "PF2E.Focus.pointTitle"}}">
                                        <span class="proficiency-rank adjust-item-stat pf-value" data-property="data.focus.points" title="{{localize "PF2E.Focus.pointTitle"}}">{{{entry.data.focus.icon}}}</span>
                                    </span>
                                </div>
                                <div class="skill-container focus-pool">
                                    <img class="pool-size" src="systems/pf2e/assets/sheet/circle.webp" />
                                    <span class="skill-item pf-value focus-pool-input" title="{{localize "PF2E.Focus.poolTitle"}}">
                                        <h4 class="skill-item pf-title">{{localize "PF2E.Focus.poolLabel"}}</h4>
                                        <input type="number" name="data.items.{{eid}}.data.focus.pool" value="{{entry.data.focus.pool}}"
                                            data-dtype="Number" placeholder="0"/>
                                    </span>
                                </div>
                            </li>
                        </ol>
                    {{/if}}
                    <ol class="skills-list spell-dc">
                        <li class="skill-grid">
                            {{#unless entry.data.tradition.focus}}
                            <div class="skill-data">
                                <span class="skill-score spell-attack" title="{{entry.data.attack.breakdown}}">{{numberFormat entry.data.attack.value decimals=0 sign=true}}</span>
                                <h4 class="skill-name spell-attack" title="{{entry.data.attack.breakdown}}">{{localize "PF2E.SpellAttackLabel"}}</h4>
                            </div>
                            {{/unless}}

                            <div class="skill-data">
                                <span class="skill-score spellcasting" title="{{entry.data.dc.breakdown}}">{{entry.data.dc.value}}</span>
                                <h4 class="skill-name spellcasting" title="{{entry.data.dc.breakdown}}">{{localize "PF2E.SpellSaveLabel"}}</h4>
                            </div>

                        </li>
                        <li class="spell-ability">
                            <span class="pf-value pf-rank adjust-item-stat" data-property="data.proficiency.value" value="{{entry.data.proficiency.value}}" title="{{entry.data.spelldc.hover}}">{{localize (add "PF2E.ProficiencyLevel" entry.data.proficiency.value)}}</span>
                            <div class="skill-name">
                                <select class="ability-select" name="data.items.{{eid}}.data.ability.value" data-type="String">
                                    {{#select entry.data.ability.value}}
                                        <option value="">{{localize "PF2E.SpellAbilityLabel"}}</option>
                                        {{#each ../data.abilities as |abl a|}}
                                            <option value="{{a}}">{{localize abl.label}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </li>
                    </ol>
                {{/unless}}
                {{#unless entry.data.prepared.preparedSpells}}

                    <!-- Everything except prepared spells -->
                    <ol class="inventory-list directory-list">

                        <!-- Add section for each spell level -->
                        {{#each entry.spellbook as |section lvl|}}
                            <li class="item inventory-header spellbook-header" data-item-id="{{entry._id}}" data-item-type="spellLevel" data-level="{{lvl}}">
                                <div class="item-name flexrow">
                                    <h3>{{localize section.label}}</h3>

                                    {{#unless entry.data.tradition.ritual}}
                                        {{#unless entry.data.tradition.focus}}
                                            {{#unless section.isCantrip}}
                                                <span class="spell-slots-input">
                                                    <input type="number" name="data.items.{{eid}}.data.slots.slot{{lvl}}.value" value="{{section.uses}}" placeholder="0" data-dtype="Number"/>
                                                </span>
                                                <span class="flex0"> / </span>
                                                <span class="spell-max-input">
                                                    <input type="number" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-dtype="Number"/>
                                                </span>
                                                &nbsp;
                                                <a class="spell-slots-increment-reset" data-item-id="{{entry._id}}"  data-level="{{lvl}}"><i class="fas fa-redo"></i></a>
                                            {{else}}
                                                <span class="spell-slots">&infin;</span>
                                                <span class="flex0"> / </span>
                                                <span class="spell-max">&infin;</span>
                                            {{/unless}}
                                        {{/unless}}
                                    {{/unless}}
                                </div>

                                <div class="spell-school-header">{{localize "PF2E.SpellsSchoolHeader"}}</div>
                                <div class="spell-action-header">{{localize "PF2E.SpellsActionHeader"}}</div>

                                {{#if @root.owner}}
                                    <div class="item-controls">
                                        <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                                            data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-plus"></i></a>
                                        <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                                            data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-search"></i></a>
                                    </div>
                                {{/if}}
                            </li>

                            <!-- Add spell items for each spell level -->
                            {{#each section.spells as |item i|}}
                                <li class="item" data-spell-lvl="{{lvl}}" data-item-id="{{item._id}}" data-item-type="spell">
                                    <div class="item-name rollable">
                                        <div class="item-image">
                                            <img class="item-icon" src="{{item.img}}" alt="{{item.name}}">
                                        </div>
                                        <h4>{{item.name}}</h4>
                                    </div>

                                    <div class="spell-school">{{localize item.data.school.str}}</div>
                                    <div class="spell-action">{{item.data.time.value}}</div>

                                    {{#if @root.owner}}
                                        <div class="item-controls">
                                            {{#if (and (eq entry.data.prepared.value "spontaneous") (not section.isCantrip))}}
                                                <a class="item-control toggle-signature-spell" title="{{localize 'PF2E.ToggleSignatureSpellTitle'}}">
                                                    {{#if item.data.isSignatureSpell}}
                                                        <i class="fas fa-star"></i>
                                                    {{else}}
                                                        <i class="far fa-star"></i>
                                                    {{/if}}
                                                </a>
                                            {{/if}}
                                            <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                        </div>
                                    {{/if}}

                                    <div class="spell-cast">
                                        <button type="button" class="spell-slots-increment-down" data-item-id="{{entry._id}}"  data-level="{{lvl}}">
                                            {{localize 'PF2E.CastLabel'}}</button>
                                    </div>
                                </li>
                            {{/each}}

                    {{else}}
                            <!-- Add Spells Row -->
                            <li class="item inventory-header spellbook-header spellbook-empty">
                                {{#if @root.owner}}
                                    <div class="item-controls pf-bluelist pf-add-item-row">
                                        <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                                            data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-plus"></i>{{localize "PF2E.AddSpellTitle"}}</a>
                                        <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                                            data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-search"></i>{{localize "PF2E.OpenSpellBrowserTitle"}}</a>
                                    </div>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ol>
        {{else}}

                    <!-- Prepared Spells -->
                    <ol class="inventory-list directory-list item-list">

                        <!-- Add section for each level -->
                        {{#each entry.spellbook as |section lvl|}}
                            <li class="item inventory-header spellbook-header" data-item-id="{{entry._id}}" data-item-type="spellLevel" data-level="{{lvl}}">
                                <div class="item-name flexrow">
                                    <div class="level-prepared-toggle-div">
                                        {{#if entry.data.showUnpreparedSpells.value}}
                                            <a class="skill-name level-prepared-toggle" title="{{localize "PF2E.ToggleSpellVisibilityLevelTitle"}}">
                                                <i class="fas {{#if section.displayPrepared}}fa-book-open{{else}}fa-book{{/if}}"></i>
                                            </a>
                                        {{/if}}
                                    </div>
                                    <h3>{{localize section.label}}</h3>

                                    {{#if section.isFocus}}
                                        <span class="spell-slots-input">
                                            <input type="number" name="data.items.{{eid}}.data.slots.slot{{lvl}}.value" value="{{section.uses}}" placeholder="0" data-dtype="Number"/>
                                        </span>
                                        <span class="flex0"> / </span>
                                        <span class="spell-max-input">
                                            <input type="number" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-dtype="Number"/>
                                        </span>
                                    {{else}}
                                        <span class="spell-max-input">
                                            <input type="number" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-dtype="Number"/>
                                        </span>
                                    {{/if}}
                                </div>

                                <div class="spell-school-header">{{localize "PF2E.SpellsSchoolHeader"}}</div>
                                <div class="spell-action-header">{{localize "PF2E.SpellsActionHeader"}}</div>

                                {{#if @root.owner}}
                                    <div class="item-controls">
                                        <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                                            data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-plus"></i></a>
                                        <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                                            data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-search"></i></a>
                                    </div>
                                {{/if}}
                            </li>

                            {{#unless section.isFocus}}
                                {{#each section.prepared as |item i|}}

                                    {{#if item.prepared}}
                                        <li class="item" data-item-id="{{item._id}}" data-slot-id="{{i}}" data-spell-lvl="{{lvl}}" data-entry-id="{{entry._id}}" data-expended-state="{{item.expended}}">
                                            <div class="item-name">
                                                <div class="item-image">
                                                    <img class="item-icon" src="{{item.img}}" alt="{{item.name}}">
                                                </div>
                                                {{#if item.expended}}
                                                    <h4>{{item.name}}</h4>
                                                {{else}}
                                                    <h4>{{item.name}}</h4>
                                                {{/if}}
                                            </div>

                                            <div class="spell-school">{{localize item.data.school.str}}</div>
                                            <div class="spell-action">{{item.data.time.value}}</div>

                                            {{#if @root.owner}}
                                                <div class="item-controls">
                                                    {{#unless section.isCantrip}}
                                                        <a class="item-control item-toggle-prepare" title="{{localize "PF2E.ExpendSpellTitle"}}"><i class="fas fa-minus-square"></i></a>
                                                    {{/unless}}
                                                    <a class="item-control item-unprepare" title="{{localize "PF2E.UnprepareItemTitle"}}"><i class="fas fa-trash"></i></a>
                                                </div>
                                            {{/if}}
                                        </li>
                                    {{else}}
                                        <li class="item" data-item-id="{{i}}" data-spell-lvl="{{lvl}}" data-item-type="spellSlot" data-entry-id="{{entry._id}}">
                                            <div class="item-name empty">
                                                <h4>{{item.name}}</h4>
                                            </div>
                                        </li>
                                    {{/if}}

                                {{/each}}

                                {{#if entry.data.showUnpreparedSpells.value}}
                                    {{#if section.displayPrepared}}
                                        <h3 class="item-name pf-sub-category pf-actions level-prepared-header">{{unpreparedSpellsLabel}}</h3>

                                        <!-- Unprepared Spells -->
                                        {{#each section.spells as |item i|}}
                                            <li class="item spellbook-item" data-item-id="{{item._id}}" data-item-type="spell">
                                                <div class="item-name rollable">

                                                    <h4>{{item.name}}</h4>
                                                </div>

                                                <div class="spell-school">{{localize item.data.school.str}}</div>
                                                <div class="spell-action">{{item.data.time.value}}</div>

                                                {{#if @root.owner}}
                                                    <div class="item-controls">
                                                        <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                                        <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                {{/if}}
                                            </li>
                                        {{/each}}
                                    {{/if}}
                                {{/if}}
                    {{else}}
                                <!-- Add spell items for each level -->
                                {{#each section.spells as |item i|}}
                                    <li class="item" data-spell-lvl="1" data-item-id="{{item._id}}">
                                        <div class="item-name rollable">
                                            <div class="item-image">
                                                <img class="item-icon" src="{{item.img}}" alt="{{item.name}}">
                                            </div>
                                            <h4>{{item.name}}</h4>
                                        </div>

                                        <div class="spell-school">{{localize item.data.school.str}}</div>
                                        <div class="spell-action">{{item.data.time.value}}</div>

                                        {{#if @root.owner}}
                                            <div class="item-controls">
                                                <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                                <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                            </div>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            {{/unless}}

                {{else}}
                            <!-- Add spells row -->
                            <li class="item inventory-header spellbook-header spellbook-empty">
                                {{#if @root.owner}}
                                    <div class="item-controls pf-bluelist pf-add-item-row">
                                        <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                                            data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-plus"></i>{{localize "PF2E.AddSpellTitle"}}</a>
                                        <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                                            data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-search"></i>{{localize "PF2E.OpenSpellBrowserTitle"}}</a>
                                    </div>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ol>


                {{/unless}}
            </li>


        {{/each}}

        <ol class="singleColumn-list">
            <li class="item inventory-header spellbook-header spellbook-empty">
                {{#if owner}}
                    <div class="item-controls pf-bluelist pf-add-item-row">
                        <a class="item-control spellcasting-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                            data-level="{{lvl}}"><i class="fas fa-plus"></i>{{localize "PF2E.AddSpellcastingEntryTitle"}}</a>
                    </div>
                {{/if}}
            </li>
        </ol>

        {{#if actor.orphanedSpells}}
            <ol class="inventory-list directory-list">
                <li class="item inventory-header spellbook-header">
                    <div class="item-name flexrow ">
                        <h3>{{localize "PF2E.OrphanedSpellsHeader"}}</h3>
                    </div>
                </li>

                {{#each actor.orphanedSpellbook as |section lvl|}}
                    {{#each section.spells as |item i|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <div class="item-name rollable">
                                <h5>{{item.name}}</h5>
                            </div>
                            {{#if @root.owner}}
                                <div class="item-controls">
                                    <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                </div>
                            {{/if}}
                        </li>
                    {{/each}}
                {{/each}}
            </ol>
        {{/if}}
    </ol>

</div>
